* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: Mulish;
  font-weight: 400;
  font-style: normal;
  src: local("Mulish"), url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Mulish;
  font-weight: 600;
  font-style: normal;
  src: local("Mulish"), url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Mulish;
  font-weight: 700;
  font-style: normal;
  src: local("Mulish"), url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.eot") format("eot");
  font-display: swap;
}
/*=================================================================*/
/*=================================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.header {
  background: #fff;
}

.heading-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #001A49;
  margin-bottom: 20px;
}

.heading-text {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4F596A;
  max-width: 560px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.main {
  padding-top: 100px;
}

/*============================HEADING=====================================*/
/*============================HEADING=====================================*/
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 160px 0px;
}

.header__top-logo {
  margin-right: 50px;
}

.header__top-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__topic {
  margin-right: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #001A49;
}
.header__topic:last-child {
  margin-right: 0;
}
.header__topic:hover {
  color: #9F07FF;
}

.header__top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  margin-right: 50px;
}
.header__btn:last-child {
  margin-right: 0;
}

.header__btn-sign {
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #001A49;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__btn-sign:hover {
  color: #9F07FF;
}

.button {
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 33px;
  padding: 15px 30px;
  margin: 25px 0 25px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  scale: 1.1;
}

.header__main {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__main-bg {
  width: 1090px;
  background: -o-linear-gradient(45.89deg, hsla(287, 100%, 53%, 0.05) 15.75%, hsla(277, 100%, 51%, 0.05) 84.63%);
  background: linear-gradient(44.11deg, hsla(287, 100%, 53%, 0.05) 15.75%, hsla(277, 100%, 51%, 0.05) 84.63%);
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 100px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 537px;
  margin-left: 160px;
}

.header__title {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
  line-height: 113%;
  letter-spacing: -1px;
  color: #001A49;
  margin: 134px 0px 20px;
}

.header__text {
  display: inline-block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4F596A;
  margin-bottom: 40px;
}

.header__main-btn {
  display: inline-block;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 33px;
  line-height: 25px;
  max-width: 210px;
  padding: 20px 50px 20px 50px;
  margin-bottom: 100px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__main-btn:hover {
  scale: 1.1;
}

.header__students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}

.header__students-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__student-ph:nth-child(2) {
  z-index: 3;
  margin-left: -25px;
}

.header__student-ph:last-child {
  margin-left: -25px;
  z-index: 5;
}

.header__students-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4F596A;
  margin-left: 9px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header__students-text span {
  color: #9F07FF;
  margin-left: 5px;
  margin-right: 5px;
}

.header__video {
  position: absolute;
  top: 0%;
  right: 0%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 590px;
  height: 360px;
  background: #001A49;
  -webkit-box-shadow: 0px 32px 44px #818A8C;
          box-shadow: 0px 32px 44px #818A8C;
  border-radius: 20px 0px 0px 20px;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .header__video {
    display: none;
  }
}

.header__video-click {
  display: block;
  background: url("../images/icons/Tr-header.svg") no-repeat;
  z-index: 8;
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__video-click:hover {
  scale: 1.1;
}

/*============================NUMBERS=====================================*/
/*============================NUMBERS=====================================*/
.numbers {
  padding-bottom: 75px;
  position: relative;
}

.numbers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  margin: 0px 160px;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
  z-index: 5;
  text-align: center;
}
@media (max-width: 850px) {
  .numbers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 550px) {
  .numbers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 80px;
    margin: 0px 50px;
  }
}
.numbers__inner::before {
  content: "";
  position: absolute;
  top: 29px;
  left: -47px;
  background: url("../images/decor/decor1.svg") no-repeat;
  width: 288px;
  height: 288px;
  z-index: -1;
}
@media (max-width: 900px) {
  .numbers__inner::before {
    display: none;
  }
}

.numbers__inner > span {
  width: 1px;
  height: 112px;
  background: #E7EAEB;
}
@media (max-width: 850px) {
  .numbers__inner > span {
    display: none;
  }
}

.numbers__items {
  padding: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F596A;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 900px) {
  .numbers__items {
    font-size: 14px;
    padding: 20px 50px 20px 50px;
  }
}
@media (max-width: 550px) {
  .numbers__items {
    font-size: 14px;
    padding: 20px 50px 20px 50px;
  }
}

.numbers__item-head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #001A49;
  margin-top: 2px;
}
@media (max-width: 900px) {
  .numbers__item-head {
    font-size: 28px;
  }
}
@media (max-width: 550px) {
  .numbers__item-head {
    font-size: 20px;
  }
}

/*============================LEARN=====================================*/
/*============================LEARN=====================================*/
.learn {
  padding: 75px 0px 115px 0px;
  position: relative;
}

.learn__inner::after {
  content: "";
  position: absolute;
  top: -100px;
  right: -250px;
  background: url("../images/decor/decor2.svg") no-repeat;
  width: 382px;
  height: 382px;
  z-index: -1;
}

.learn__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  text-align: center;
}

.learn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learn__block {
  background: -o-linear-gradient(45.89deg, rgba(203, 16, 255, 0.05) 15.75%, rgba(160, 6, 255, 0.05) 84.63%);
  background: linear-gradient(44.11deg, rgba(203, 16, 255, 0.05) 15.75%, rgba(160, 6, 255, 0.05) 84.63%);
  margin: 0px 160px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 21px;
  position: relative;
}
.learn__block:last-child {
  margin-bottom: 0;
}
@media (max-width: 1300px) {
  .learn__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 80px 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media (max-width: 450px) {
  .learn__block {
    margin: 0px 40px 30px;
  }
}

.learn__block-text {
  margin: 39px 0 41px 130px;
}
@media (max-width: 1300px) {
  .learn__block-text {
    margin: 40px 40px 0px 40px;
  }
}
.learn__block-text::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 31px;
  background: url("../images/icons/2tr.svg") no-repeat;
  width: 96px;
  height: 96px;
}
@media (max-width: 1300px) {
  .learn__block-text::after {
    display: none;
  }
}

.learn__block-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #001A49;
  margin-bottom: 20px;
}

.learn__block-par {
  display: block;
  max-width: 501px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4F596A;
}

.learn__block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 55px;
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 33px;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
@media (max-width: 1300px) {
  .learn__block-btn {
    margin: 20px 40px 20px 40px;
    justify-self: flex-start;
  }
}
@media (max-width: 700px) {
  .learn__block-btn {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .learn__block-btn {
    font-size: 12px;
  }
}

.learn__block-btn > span {
  width: 1px;
  height: 30px;
  background: #8639B5;
}

.learn__block-vid {
  padding: 23px 38px 23px;
}
@media (max-width: 700px) {
  .learn__block-vid {
    padding: 12px 19px 12px;
  }
}
@media (max-width: 350px) {
  .learn__block-vid {
    padding: 9px 14px 9px;
  }
}

.learn__block-time {
  padding: 23px 34px 23px;
}
@media (max-width: 700px) {
  .learn__block-time {
    padding: 12px 14px 12px;
  }
}
@media (max-width: 350px) {
  .learn__block-time {
    padding: 9px 14px 9px;
  }
}

/*============================DAVID=====================================*/
/*============================DAVID=====================================*/
.david {
  padding-bottom: 120px;
}

.david__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .david__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.david__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
  max-width: 547px;
  margin: 0px 165px 0px 165px;
}
@media (max-width: 1300px) {
  .david__heading {
    margin: 0px 140px;
  }
}
@media (max-width: 1100px) {
  .david__heading {
    text-align: center;
  }
}

.heading-titleD {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #001A49;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .heading-titleD {
    font-size: 42px;
    line-height: 100%;
  }
}
@media (max-width: 700px) {
  .heading-titleD {
    font-size: 28px;
    line-height: 100%;
  }
}

.heading-textD {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4F596A;
  max-width: 560px;
}

.david__img-box {
  justify-self: center;
}

.david__image {
  position: relative;
}
.david__image::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -15px;
  background: url("../images/decor/decor3.svg") no-repeat;
  width: 419px;
  height: 382px;
  z-index: -1;
}
@media (max-width: 1300px) {
  .david__image::after {
    display: none;
  }
}

@media (max-width: 1300px) {
  .david__image-ph {
    max-width: 250px;
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .david__image-ph {
    max-width: 160px;
  }
}

/*============================STUDENTS=====================================*/
/*============================STUDENTS=====================================*/
.students {
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #CD10FF 15.76%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #CD10FF 15.76%, #9F06FF 84.63%);
}

.students__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0px 100px;
  text-align: center;
}
@media (max-width: 1000px) {
  .students__heading {
    padding: 70px 0px 50px;
  }
}

.heading__title--white {
  color: #fff;
}

.heading__text--white {
  color: rgba(255, 255, 255, 0.8);
}

.students__slide {
  max-width: 550px;
  margin: 0px 20px 120px;
}
@media (max-width: 600px) {
  .students__slide {
    margin-bottom: 60px;
  }
}

.students__slide-inner {
  background: rgba(76, 0, 112, 0.195968);
  border-radius: 20px;
  padding: 50px 40px 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 600px) {
  .students__slide-inner {
    padding: 30px 20px 20px 30px;
  }
}

.students__text {
  max-width: 460px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .students__text {
    font-size: inherit;
  }
}

.students__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.students__person {
  margin-right: 14px;
}

.students__about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.student__about-title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 4px;
}
@media (max-width: 600px) {
  .student__about-title {
    font-size: inherit;
  }
}

.student__about-text {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 600px) {
  .student__about-text {
    font-size: inherit;
  }
}

/*============================QUESTIONS=====================================*/
/*============================QUESTIONS=====================================*/
.questions {
  padding-top: 150px;
}
@media (max-width: 1300px) {
  .questions {
    padding-top: 100px;
  }
}

.questions__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media (max-width: 400px) {
  .questions__heading {
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.questions__acc {
  padding-bottom: 60px;
}

.questions__acc-item {
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.08%, rgba(203, 16, 255, 0.2)), color-stop(155.74%, rgba(160, 6, 255, 0.2)));
  background: -o-linear-gradient(bottom, rgba(203, 16, 255, 0.2) 0.08%, rgba(160, 6, 255, 0.2) 155.74%);
  background: linear-gradient(0deg, rgba(203, 16, 255, 0.2) 0.08%, rgba(160, 6, 255, 0.2) 155.74%);
  -webkit-box-shadow: inset 0px 0px 0px 100vw #fff;
          box-shadow: inset 0px 0px 0px 100vw #fff;
  border-radius: 60px;
  border-radius: 21px;
  margin: 0px 300px 20px 290px;
}
.questions__acc-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1100px) {
  .questions__acc-item {
    margin: 0px 100px 20px 100px;
  }
}
@media (max-width: 750px) {
  .questions__acc-item {
    margin: 0px 50px 10px 50px;
  }
}

.questions__acc-link {
  display: block;
  padding: 40px 0px 40px 40px;
}
@media (max-width: 1300px) {
  .questions__acc-link {
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width: 750px) {
  .questions__acc-link {
    max-width: 500px;
  }
}

.questions__acc-head {
  display: block;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #001A49;
  position: relative;
  white-space: wrap;
}
.questions__acc-head::after {
  content: "";
  background: url(../images/icons/strike-bot.svg) no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  top: -10px;
  right: 40px;
}
@media (max-width: 1300px) {
  .questions__acc-head::after {
    top: -14px;
    right: 0;
  }
}
@media (max-width: 750px) {
  .questions__acc-head::after {
    top: -14px;
    left: -9px;
  }
}
@media (max-width: 1300px) {
  .questions__acc-head {
    font-size: inherit;
  }
}
@media (max-width: 750px) {
  .questions__acc-head {
    max-width: 450px;
    padding: 0px 0px 0px 60px;
  }
}
@media (max-width: 600px) {
  .questions__acc-head {
    font-size: 14px;
  }
}

.questions__acc-link--active .questions__acc-head::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.questions__acc-text {
  margin-top: 20px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #4F596A;
  max-width: 667px;
}
@media (max-width: 750px) {
  .questions__acc-text {
    max-width: 400px;
  }
}

/*============================READY=====================================*/
/*============================READY=====================================*/
.ready {
  padding-top: 60px;
}

.ready__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.ready__inner::after {
  content: "";
  position: absolute;
  top: -28px;
  right: -220px;
  background: url("../images/decor/decor4.svg") no-repeat;
  width: 355px;
  height: 355px;
  z-index: -1;
}
@media (max-width: 800px) {
  .ready__inner::after {
    right: -270px;
  }
}
@media (max-width: 700px) {
  .ready__inner::after {
    right: -300px;
    opacity: 60%;
  }
}
@media (max-width: 350px) {
  .ready__inner::after {
    display: none;
  }
}

.ready__garant {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 215, 169, 0.2)), to(rgba(255, 174, 112, 0.2)));
  background: -o-linear-gradient(left, rgba(255, 215, 169, 0.2) 0%, rgba(255, 174, 112, 0.2) 100%);
  background: linear-gradient(90deg, rgba(255, 215, 169, 0.2) 0%, rgba(255, 174, 112, 0.2) 100%);
  border-radius: 33px;
  padding: 8px 34px 8px;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .ready__garant {
    padding: 4px 20px 4px;
  }
}

.ready__garant-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ready__heading {
  max-width: 650px;
  text-align: center;
  margin-bottom: 10px;
}

.ready__btn {
  display: inline-block;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 33px;
  line-height: 25px;
  max-width: 210px;
  padding: 20px 50px 20px 50px;
  margin-bottom: 120px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.ready__btn:hover {
  scale: 1.1;
}
@media (max-width: 600px) {
  .ready__btn {
    padding: 10px 30px 10px 30px;
  }
}

/*============================FOOTER=====================================*/
/*============================FOOTER=====================================*/
.footer {
  background: -o-linear-gradient(45.89deg, rgba(203, 16, 255, 0.05) 15.75%, rgba(160, 6, 255, 0.05) 84.63%);
  background: linear-gradient(44.11deg, rgba(203, 16, 255, 0.05) 15.75%, rgba(160, 6, 255, 0.05) 84.63%);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 65px 160px 80px;
}
@media (max-width: 1150px) {
  .footer__inner {
    padding: 50px 80px 40px;
  }
}
@media (max-width: 675px) {
  .footer__inner {
    padding: 50px 40px 40px;
  }
}
@media (max-width: 600px) {
  .footer__inner {
    padding: 50px 10px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 1050px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo {
  display: block;
  margin-right: 80px;
  justify-self: flex-start;
}
@media (max-width: 1050px) {
  .footer__logo {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.footer__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__form-input {
  display: block;
  padding: 23px 0px 23px 40px;
  background: #FFFFFF;
  border-radius: 33px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.footer__form-input::-webkit-input-placeholder {
  color: #4F596A;
  opacity: 0.5;
}
.footer__form-input::-moz-placeholder {
  color: #4F596A;
  opacity: 0.5;
}
.footer__form-input:-ms-input-placeholder {
  color: #4F596A;
  opacity: 0.5;
}
.footer__form-input::-ms-input-placeholder {
  color: #4F596A;
  opacity: 0.5;
}
.footer__form-input::placeholder {
  color: #4F596A;
  opacity: 0.5;
}
@media (max-width: 500px) {
  .footer__form-input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .footer__form-input::-moz-placeholder {
    font-size: 14px;
  }
  .footer__form-input:-ms-input-placeholder {
    font-size: 14px;
  }
  .footer__form-input::-ms-input-placeholder {
    font-size: 14px;
  }
  .footer__form-input::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .footer__form-input::-webkit-input-placeholder {
    font-size: 11px;
  }
  .footer__form-input::-moz-placeholder {
    font-size: 11px;
  }
  .footer__form-input:-ms-input-placeholder {
    font-size: 11px;
  }
  .footer__form-input::-ms-input-placeholder {
    font-size: 11px;
  }
  .footer__form-input::placeholder {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .footer__form-input {
    padding: 23px 0px 23px 20px;
  }
}
@media (max-width: 500px) {
  .footer__form-input {
    padding: 15px 0px 15px 10px;
  }
}

.form__btn {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: -o-linear-gradient(45.89deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 33px;
  padding: 15px 30px;
  color: #fff;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btn:hover {
  scale: 1.05;
}
@media (max-width: 500px) {
  .form__btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .form__btn {
    padding: 10px 15px;
    font-size: 8px;
  }
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 20.5%;
}
@media (max-width: 1150px) {
  .footer__columns {
    margin-left: 5%;
  }
}
@media (max-width: 1050px) {
  .footer__columns {
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__col {
  margin-right: 120px;
}
.footer__col:last-child {
  margin-right: 0px;
}
@media (max-width: 1050px) {
  .footer__col {
    margin-right: 50px;
  }
}
@media (max-width: 675px) {
  .footer__col {
    margin-right: 20px;
  }
}
@media (max-width: 430px) {
  .footer__col {
    margin-right: 8px;
  }
}

.footer__col-title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #001A49;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .footer__col-title {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .footer__col-title {
    font-size: 11px;
  }
}

.footer__col-item {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #4F596A;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__col-item:last-child {
  margin-bottom: 0;
}
.footer__col-item:hover {
  color: #9F07FF;
}
@media (max-width: 500px) {
  .footer__col-item {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .footer__col-item {
    font-size: 11px;
  }
}

/*============================MEDIA=====================================*/
/*============================MEDIA=====================================*/
/*============================1200=====================================*/
@media (max-width: 1200px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 150;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--follow {
    top: 25px;
    right: 25px;
    -webkit-box-shadow: 0 1px 8px #a1a1a1;
            box-shadow: 0 1px 8px #a1a1a1;
    background-color: #FFFFFF;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }
  .header {
    padding-top: 92px;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 100;
    min-width: 320px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__top--open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
    margin: 0;
    padding: 0px 50px;
  }
  .header__top-logo {
    margin: 60px 0 0;
  }
  .header__top-topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    text-align: center;
    margin-right: 0;
  }
  .header__topic {
    margin-bottom: 30px;
    margin-right: 0px;
    font-size: 20px;
  }
  .header__topic:last-child {
    margin-bottom: 0;
  }
  .header__top-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__btn-sign {
    text-align: center;
    margin-right: 0;
  }
}
/*============================900=====================================*/
@media (max-width: 900px) {
  .heading-title {
    font-size: 42px;
    line-height: 100%;
  }
  .heading-text {
    font-size: inherit;
    max-width: 350px;
  }
}
/*============================850=====================================*/
@media (max-width: 850px) {
  .learn__block-title {
    font-size: 18px;
  }
  .learn__block-par {
    font-size: inherit;
  }
}
/*============================800=====================================*/
@media (max-width: 800px) {
  .header__content {
    margin-left: 50px;
  }
  .header__title {
    font-size: 42px;
    margin-top: 75px;
  }
  .header__text {
    font-size: 14px;
  }
  .header__main-btn {
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  .header__students {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 75px;
  }
  .header__students-photos {
    margin-bottom: 20px;
  }
}
/*============================600=====================================*/
@media (max-width: 600px) {
  .heading-title {
    font-size: 28px;
    line-height: 100%;
  }
  .heading-text {
    font-size: inherit;
    max-width: 250px;
  }
}