@mixin mul7 {
    font-family: "Mulish", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #001A49;
}
@mixin mul7-white {
    font-family: "Mulish", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}